.App {
  text-align: center;
}

.banner {
  font-size: 3rem;
}

.card {
  flex-basis: 40%;
}

@media screen and (max-width: 976px) {
  .card {
    flex-basis: 60%;
  }
}

@media screen and (max-width: 568px) {
  .card {
    flex-basis: 90%;
  }
  .banner {
    font-size: 1.5rem;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
